NET "clk" loc="B8";
NET "led[0]" loc="M5";
NET "led[1]" loc="M11";
NET "led[2]" loc="P7";
NET "led[3]" loc="P6";
NET "led[4]" loc="N5";
NET "led[5]" loc="N4";
NET "rst" loc="P11";
NET "btn[0]" loc="G12";
NET "btn[1]" loc="C11";
NET "btn[2]" loc="M4";
NET "cathodes[0]" loc="L14";
NET "cathodes[1]" loc="H12";
NET "cathodes[2]" loc="N14";
NET "cathodes[3]" loc="N11";
NET "cathodes[4]" loc="P12";
NET "cathodes[5]" loc="L13";
NET "cathodes[6]" loc="M12";
NET "anodes[0]" loc="F12";
NET "anodes[1]" loc="J12";
NET "anodes[2]" loc="M13";
NET "anodes[3]" loc="K14";				